{
    plugins: [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-export-default-from",
        "@babel/plugin-proposal-export-namespace-from",
        [
            "babel-plugin-flow-runtime",
            {
                assert: true,
            },
        ],
        "babel-plugin-lodash",
    ],
    presets: [
        [
            "@babel/preset-env",
            {
                shippedProposals: true,
            },
        ],
        "@babel/preset-flow",
    ],
}
